body {
  margin: 0 0 0 0;
  background-color: #7ab3ff;

}

main {
  wdith: 900px;
  height: 500px;
}

.carddeeppink {
  width: 400px;
  height: 400px;
  margin: 0 0 1rem 1rem;


}

.cardblue {
  width: 400px;
  height: 400px;
  margin: 0 0 1rem;

}

.cardred {
  width: 400px;
  height: 400px;
  margin: 0 0 1rem;
}

@media screen and (min-width: 300px) {
  .cardblue {
    width: 400px;
    height: 400px;
    background-color: none;
    border: 1px solid black;
    margin: 0 0 1rem 1rem;
    float: left;

  }
}

@media screen and (min-width: 600px) {
  .deeppink {
    width: 400px;
    height: 400px;
    background-color: none;
    border: 1px solid black;
    margin: 0 0 1rem 1rem;
    float: left;

  }
}

@media screen and (min-width: 300px) {
  .cardred {
    width: 400px;
    height: 400px;
    background-color: none;
    border: 1px solid black;
    margin: 0 0 1rem 1rem;
    float: left;

  }
}

.clearfix {
  overflow: auto;
  zoom: 1;
}

.firstname {
  margin: 20px 0 0 0;
  text-align: center;

}

.lastname {
  margin: 20px 0 0 0;
  text-align: center;
}

.email {
  margin: 20px 0 0 0;
  text-align: center;
}

.country {
  margin: 20px 0 0 0;
  text-align: center;
}

.biography {
  margin: 20px 0 0 0;
  text-align: center;
  padding: 0;
}

.phonenumber {
  margin: 20px 0 0 0;
  text-align: center;
}

.affiliations {
  margin: 20px 0 0 0;
  text-align: center;
}

.occupation {
  margin: 20px 0 0 0;
  text-align: center;
}

.catsname {
  margin: 20px 0 0 0;
  text-align: center;
}

.favoritegadget {
  margin: 20px 0 0 0;
  text-align: center;
}

.typeoftalent {
  margin: 20px 0 0 0;
  text-align: center;
}

.favoritedrink {
  margin: 20px 0 0 0;
  text-align: center;
}

.specialpower {
  margin: 20px 0 0 0;
  text-align: center;
}

.weaponofchoice {
  margin: 20px 0 0 0;
  text-align: center;
}

.comments {
  margin: 20px 0 0 0;
  text-align: center;
}















.firstname label {
  margin: 10px 0 0 0;
  color: white;

}

.lastname label {
  margin: 10px 0 0 0;
  color: white;
}

.email label {
  margin: 0 0 0 0;
  color: white;
}

.country label {
  margin: 10px 0 0 0;
  color: white;
}

.biography label {
  margin: 10px 0 0 0;
  color: white;
  padding: 0;
}

.phonenumber label {
  margin: 10px 0 0 0;
  color: white;
}

.affiliations label {
  margin: 10px 0 0 0;
  color: white;
}

.occupation label {
  margin: 10px 0 0 0;
  color: white;
}

.catsname label {
  margin: 10px 0 0 0;
  color: white;
}

.favoritegadget label {
  margin: 10px 0 0 0;
  color: white;
}

.typeoftalent label {
  margin: 10px 0 0 0;
  color: white;

}

.favoritedrink label {
  margin: 10px 0 0 0;
  color: white;
}

.specialpower label {
  margin: 10px 0 0 0;
  color: white;
}

.weaponofchoice label {
  margin: 10px 0 0 0;
  color: white;
}

.comments label {
  margin: 10px 0 0 0;
  color: white;
}










.firstname input {
  margin: 10px 0 0 40px;
  color: white;
  border: 1px solid white;
  width: 200px;
  height: 20px;
  background-color: #7ab3ff;

}

.lastname input {
  margin: 10px 0 0 40px;
  color: white;
  border: 1px solid white;
  width: 200px;
  height: 20px;
  background-color: #7ab3ff;

}

.email input {
  margin: 10px 0 0 40px;
  color: white;
  border: 1px solid white;
  width: 200px;
  height: 20px;
  background-color: #7ab3ff;

}

.country input {
  margin: 10px 0 0 40px;
  color: white;
  border: 1px solid white;
  width: 200px;
  height: 20px;
  background-color: #7ab3ff;
}



.biography textarea {
  margin: 10px 0 0 40px;
  color: white;
  padding: 0;
  border: 1px solid white;
  width: 200px;
  height: 20px;
  background-color: #7ab3ff;

}

.phonenumber input {
  margin: 10px 0 0 40px;
  color: white;
  border: 1px solid white;
  width: 200px;
  height: 20px;
  background-color: #7ab3ff;
}

.affiliations textarea {
  margin: 10px 0 0 40px;
  color: white;
  border: 1px solid white;
  width: 200px;
  height: 20px;
  background-color: #7ab3ff;
}

.occupation input {
  margin: 10px 0 0 40px;
  color: white;
  border: 1px solid white;
  width: 200px;
  height: 20px;
  background-color: #7ab3ff;
}

.catsname input {
  margin: 10px 0 0 40px;
  color: white;
  border: 1px solid white;
  width: 200px;
  height: 20px;
  background-color: #7ab3ff;
}

.favoritegadget input {
  margin: 10px 0 0 40px;
  color: white;
  border: 1px solid white;
  width: 200px;
  height: 20px;
  background-color: #7ab3ff;
}

.typeoftalent input {
  margin: 10px 0 0 40px;
  color: white;
  border: 1px solid white;
  width: 200px;
  height: 20px;
  background-color: #7ab3ff;


}

.favoritedrink input {
  margin: 10px 0 0 40px;
  color: white;
  border: 1px solid white;
  width: 200px;
  height: 20px;
  background-color: #7ab3ff;
}

.specialpower input {
  margin: 10px 0 0 40px;
  color: white;
  border: 1px solid white;
  width: 200px;
  height: 20px;
  background-color: #7ab3ff;
}

.weaponofchoice input {
  margin: 10px 0 0 40px;
  color: white;
  border: 1px solid white;
  width: 200px;
  height: 20px;
  background-color: #7ab3ff;
}

.comments textarea {
  margin: 10px 0 0 40px;
  color: white;
  border: 1px solid white;
  width: 200px;
  height: 20px;
  background-color: #7ab3ff;
}









textarea:focus {
  border: 1px solid black;
}

input:focus {
  border: 1px solid black;
}




.firstname:focus input {
border: 1px solid black;

}

.lastname:focus input {
  border: 1px solid black;


}

.email:focus input {
  border: 1px solid black;


}

.country:focus input {
  border: 1px solid black;

}

.biography:focus input {
  border: 1px solid black;


}

.phonenumber:focus input {
  border: 1px solid black;

}

.affiliations:focus input {
  border: 1px solid black;

}

.occupation:focus input {
  border: 1px solid black;

}

.catsname:focus input {
  border: 1px solid black;

}

.favoritegadget:focus input {
  border: 1px solid black;

}

.typeoftalent:focus input {
  border: 1px solid black;
}

.favoritedrink:focus input {
border: 1px solid black;
}

.specialpower:focus input {
border: 1px solid black;
}

.weaponofchoice:focus input {
border: 1px solid black;
}

.comments:focus input {
border: 1px solid black;
}
