body {
  margin: 0 0 0 0;
}

main {
  wdith: 900px;
  height: 900px;
  background-color: lightgrey;
}

.carddeeppink {
  width: 400px;
  height: 400px;
  background-color: deeppink;
  margin: 0 0 1rem 1rem;


}

.cardblue {
  width: 400px;
  height: 400px;
  background-color: blue;
  margin: 0 0 1rem;
}

.cardred {
  width: 400px;
  height: 400px;
  background-color: red;
  margin: 0 0 1rem;
}

@media screen and (min-width: 300px) {
  .cardblue {
    width: 400px;
    height: 400px;
    background-color: blue;
    margin: 0 0 1rem 1rem;
    float: left;

  }
}

@media screen and (min-width: 600px) {
  .deeppink {
    width: 400px;
    height: 400px;
    background-color: deeppink;
    margin: 0 0 1rem 1rem;
    float: left;

  }
}

@media screen and (min-width: 300px) {
  .cardred {
    width: 400px;
    height: 400px;
    background-color: red;
    margin: 0 0 1rem 1rem;
    float: left;

  }
}

.clearfix {
  overflow: auto;
  zoom: 1;
}

.firstname {
  margin: 10px 0 0 40px;
}

.lastname {
  margin: 10px 0 0 40px;
}

.email {
  margin: 10px 0 0 40px;
}

.country {
  margin: 10px 0 0 40px;
}

.biography {
  margin: 10px 0 0 40px;
  padding: 0;
}

.phonenumber {
  margin: 10px 0 0 40px;
}

.affiliations {
  margin: 10px 0 0 40px;
}

.occupation {
  margin: 10px 0 0 40px;
}

.catsname {
  margin: 10px 0 0 40px;
}

.favoritegadget {
  margin: 10px 0 0 40px;
}

.typeoftalent {
  margin: 10px 0 0 40px;
}

.favoritedrink {
  margin: 10px 0 0 40px;
}

.specialpower {
  margin: 10px 0 0 40px;
}

.weaponofchoice {
  margin: 10px 0 0 40px;
}

.comments {
  margin: 10px 0 0 40px;
}
